.action {
    float: right;
}

.action ul {
    list-style-type: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.action li {
    float: left;
    background: #ed1c24;
}

.action li a {
    display: block;
    position: relative;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.action .img-responsive {
    width: 25px;
    height: auto;
}