@keyframes animatedBackground {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: -300px 0;
    }
}

@-moz-keyframes animatedBackground {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: -300px 0;
    }
}

@-webkit-keyframes animatedBackground {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: -300px 0;
    }
}

@-ms-keyframes animatedBackground {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: -300px 0;
    }
}

@-o-keyframes animatedBackground {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: -300px 0;
    }
}
@media only screen and (min-width: 1279px) and (max-width: 1920px) {

header {
    background-color: #ed1c24;
    width: inherit;
    height: 5.5vh;
    padding: 15px 0px;
}
}