.logo {
    float: left;
}

.logo a {
    display: block;
    text-align: center;
    padding: 8px 0px 14px 0px;
    text-decoration: none;
}

@media screen and (min-width: 800px) and (orientation:landscape) {}

@media screen and (min-width: 800px) and (min-width: 1024px) and (max-width: 1280px) {}

@media screen and (min-width: 641px) and (max-width: 914px) {}

@media screen and (max-width: 640px) and (orientation:portrait) {}