@media only screen and (min-width: 1280px) and (max-width: 1920px) {
    .features {
        height: auto!important;
        background-color: #ffffff!important;
        padding: 60px 0px;
        max-width: 100%;
    }
    .features-i {
        width: 50%;
        height: 200px;
        background-color: #ed1c24;
        color: #ffffff;
        position: absolute;
        display: table;
        top: 71.5%;
        margin: 0 auto;
        left: 0;
        right: 0;
        z-index: 1;
    }
    .features-i h1 {
        margin: 0 auto;
        padding: 5%;
        text-transform: uppercase;
        font-family: 'Montserrat', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 800!important;
        letter-spacing: 0.5px;
        display: table-cell;
        vertical-align: middle;
        white-space: pre-line;
        top: 0!important;
    }
    .features-item {
        width: 50%;
        height: 50%;
        display: inline-block;
        text-align: left;
        padding: 40px;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
    .features-item h1 {
        font-weight: 800;
        font-family: 'Montserrat', Tahoma, Geneva, Verdana, sans-serif;
        letter-spacing: 0.1px;
        text-transform: uppercase;
        color: #0e0e0e;
    }
    .features-item p {
        font-weight: 400;
        font-family: 'Open Sans', Tahoma, Geneva, Verdana, sans-serif;
        color: #444444;
        font-size: 1em;
        line-height: 23px;
    }
    .features-item-0 {
        float: left;
    }
    .features-item-1 {
        float: right;
    }
    .features-item-2 {
        margin: 60px 0px 0px 0px;
        width: 100%!important;
        height: auto;
        padding: 0;
    }
    .features-item-3 {
        float: left;
    }
    .features-item-4 {
        float: right;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .features {
        height: auto!important;
        background-color: #ffffff!important;
        padding: 60px 0px;
        max-width: 100%;
    }
    .features-i {
        width: 50%;
        height: 200px;
        background-color: #ed1c24;
        color: #ffffff;
        position: absolute;
        display: table;
        top: 71.5%;
        margin: 0 auto;
        left: 0;
        right: 0;
        z-index: 1;
    }
    .features-i h1 {
        margin: 0 auto;
        padding: 5%;
        text-transform: uppercase;
        font-family: 'Montserrat', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 800!important;
        letter-spacing: 0.5px;
        display: table-cell;
        vertical-align: middle;
        white-space: pre-line;
        top: 0!important;
    }
    .features-item {
        width: 50%;
        height: 50%;
        display: inline-block;
        text-align: left;
        padding: 40px;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
    .features-item h1 {
        font-weight: 800;
        font-family: 'Montserrat', Tahoma, Geneva, Verdana, sans-serif;
        letter-spacing: 0.1px;
        text-transform: uppercase;
        color: #0e0e0e;
    }
    .features-item p {
        font-weight: 400;
        font-family: 'Open Sans', Tahoma, Geneva, Verdana, sans-serif;
        color: #444444;
        font-size: 1em;
        line-height: 23px;
    }
    .features-item-0 {
        float: left;
    }
    .features-item-1 {
        float: right;
    }
    .features-item-2 {
        margin: 60px 0px 0px 0px;
        width: 100%!important;
        height: auto;
        padding: 0;
    }
    .features-item-3 {
        float: left;
    }
    .features-item-4 {
        float: right;
    }
}

@media screen and (min-width: 641px) and (max-width: 1023px) {
    .features-i {
        width: 200px;
        height: 200px;
        background-color: #ed1c24!important;
        color: #ffffff;
        position: absolute;
        display: table;
        top: 68.5%;
        margin: 0 auto;
        left: 0;
        right: 0;
        z-index: 1;
    }
    .features-i h1 {
        height: auto!important;
        margin: 0 auto;
        padding: 5%;
        text-transform: uppercase;
        font-weight: 700!important;
        font-size: 1.5em!important;
        vertical-align: middle;
        letter-spacing: 0px!important;
        text-align: center;
        display: table-cell;
        position: relative!important;
        top: 0!important;
    }
    .middle-divider h5 {
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
        position: absolute;
        top: 10px;
        padding: 5px;
        clear: both;
        right: 0;
        left: 0;
        margin: 0 auto;
        color: rgb(255, 255, 255);
        font-size: 0.9em;
        text-align: center;
        font-family: 'Open Sans', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 400;
        letter-spacing: 0.1px;
        text-transform: uppercase;
        border-bottom: 1px #ed1c24 solid;
    }
    .middle-divider h1 {
        vertical-align: middle;
        top: 10%;
        position: absolute;
        clear: both;
        right: 0;
        left: 0;
        margin: 0 auto;
        color: rgb(255, 255, 255);
        font-size: 2.2em;
        text-align: center;
        font-family: 'Montserrat', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 800;
        letter-spacing: 0.1px;
        text-transform: uppercase;
    }
    .features-item h1 {
        font-weight: 800;
        font-family: 'Montserrat', Tahoma, Geneva, Verdana, sans-serif;
        letter-spacing: 0.1px;
        text-transform: uppercase;
        color: #0e0e0e;
        white-space: pre-line;
        box-sizing: border-box;
        /* word-break: break-all; */
        font-size: 1.4em;
    }
    .features-item-2 {
        margin: 60px 0px 0px 0px;
        width: 99.9%!important;
        height: auto;
        padding: 0;
    }
}

@media screen and (max-width: 640px) and (orientation:portrait) {
    .features-i {
        width: 200px;
        height: 200px;
        background-color: #ed1c24!important;
        color: #ffffff;
        position: absolute;
        display: table;
        top: 68.5%;
        margin: 0 auto;
        left: 0;
        right: 0;
        z-index: 1;
    }
    .features-i h1 {
        height: auto!important;
        margin: 0 auto;
        text-transform: uppercase;
        font-weight: 700!important;
        font-size: 1.5em!important;
        display: table-cell;
        vertical-align: middle;
        letter-spacing: 0px!important;
        height: auto;
        text-align: center;
        position: relative!important;
        top: 0!important;
    }
    .middle-divider h5 {
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
        position: absolute;
        top: 10px;
        padding: 5px;
        clear: both;
        right: 0;
        left: 0;
        margin: 0 auto;
        color: rgb(255, 255, 255);
        font-size: 0.9em;
        text-align: center;
        font-family: 'Open Sans', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 400;
        letter-spacing: 0.1px;
        text-transform: uppercase;
        border-bottom: 1px #ed1c24 solid;
    }
    .middle-divider h1 {
        vertical-align: middle;
        top: 10%;
        position: absolute;
        clear: both;
        right: 0;
        left: 0;
        margin: 0 auto;
        color: rgb(255, 255, 255);
        font-size: 2.2em;
        text-align: center;
        font-family: 'Montserrat', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 800;
        letter-spacing: 0.1px;
        text-transform: uppercase;
    }
    .features-item h1 {
        font-weight: 800;
        font-family: 'Montserrat', Tahoma, Geneva, Verdana, sans-serif;
        letter-spacing: 0.1px;
        text-transform: uppercase;
        color: #0e0e0e;
        white-space: pre-line;
        box-sizing: border-box;
        /* word-break: break-all; */
        font-size: 1.4em;
    }
    .features-item-2 {
        margin: 60px 0px 0px 0px;
        width: 99.9%!important;
        height: auto;
        padding: 0;
    }
}