@media screen and (min-width: 1024px) and (max-width: 1279px) {
    header {
        position: relative;
        z-index: 10;
    }
    nav {
        width: 100%;
        float: left;
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);
        clear: both;
    }
    .dropbtn {
        background-color: transparent;
        color: white;
        padding: 16px;
        font-size: 1.5em;
        border: none;
        cursor: pointer;
    }
    /* The container <div> - needed to position the dropdown content */
    .dropdown {
        position: relative;
        display: inline-block;
        z-index: 999;
    }
    /* Dropdown Content (Hidden by Default) */
    .dropdown-content {
        display: none;
        position: relative;
        background-color: #ffffff;
        min-width: 160px;
        padding: 14px 0px;
        z-index: 999;
        text-align: center;
    }
    /* Links inside the dropdown */
    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }
    /* Show the dropdown menu on hover */
    .dropdown:hover .dropdown-content {
        display: block;
    }
    /* Change the background color of the dropdown button when the dropdown content is shown */
    .dropdown:hover .dropbtn {
        background-color: #ffffff;
        color: #000000;
    }
    nav ul {
        list-style-type: none;
        width: 400px;
        overflow: hidden;
        margin: 0 auto;
        padding: 0;
        box-sizing: border-box;
    }
    nav li {
        margin: 0 auto;
        background: transparent;
        font-family: 'Open Sans', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 0.9em;
        font-weight: 800;
        text-transform: uppercase;
        letter-spacing: 0.7px;
    }
    /* Makes list elements' background get light-grey on hover */
    nav li :hover {
        background: rgb(0, 0, 0);
        color: #ffffff;
        transition: 300ms all linear;
    }
    nav li :active {
        color: #ffffff;
        background: rgb(0, 0, 0);
    }
    nav li a {
        display: block;
        text-align: center;
        padding: 14px 10px;
        text-decoration: none;
        color: #ffffff;
    }
}

@media screen and (min-width: 641px) and (max-width: 1023px) {
    header {
        position: relative;
        z-index: 10;
        margin-top: 10px;
    }
    nav {
        width: 100%;
        float: left;
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);
        clear: both;
    }
    .dropbtn {
        background-color: transparent;
        color: white;
        padding: 16px;
        font-size: 1.3em;
        border: none;
        cursor: pointer;
    }
    /* The container <div> - needed to position the dropdown content */
    .dropdown {
        position: relative;
        display: inline-block;
        z-index: 999;
    }
    /* Dropdown Content (Hidden by Default) */
    .dropdown-content {
        display: none;
        position: relative;
        min-width: 160px;
        background-color: #ffffff;
        text-align: center;
        padding: 14px 0px;
        z-index: 999;
    }
    /* Links inside the dropdown */
    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }
    /* Show the dropdown menu on hover */
    .dropdown:hover .dropdown-content {
        display: block;
    }
    /* Change the background color of the dropdown button when the dropdown content is shown */
    .dropdown:hover .dropbtn {
        background-color: #ffffff;
        color: #000000;
    }
    nav ul {
        list-style-type: none;
        width: 400px;
        overflow: hidden;
        margin: 0 auto;
        padding: 0;
        box-sizing: border-box;
    }
    nav li {
        margin: 0 auto;
        background: transparent;
        font-family: 'Open Sans', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 0.9em;
        font-weight: 800;
        text-transform: uppercase;
        letter-spacing: 0.7px;
    }
    /* Makes list elements' background get light-grey on hover */
    nav li :hover {
        background: #ed1c24;
        color: #ffffff;
        transition: 300ms all linear;
    }
    nav li :active {
        color: #ffffff;
        background: rgb(0, 0, 0);
    }
    nav li a {
        display: block;
        text-align: center;
        padding: 14px 10px;
        text-decoration: none;
        color: #ffffff;
    }
}

@media screen and (max-width: 640px) and (orientation:portrait) {
    header {
        position: relative;
        z-index: 10;
    }
    nav {
        width: 100%;
        float: left;
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);
        clear: both;
    }
    .dropbtn {
        background-color:transparent;
        color: white;
        padding: 16px;
        font-size: 16px;
        border: none;
        cursor: pointer;
    }
    /* The container <div> - needed to position the dropdown content */
    .dropdown {
        position: relative;
        display: inline-block;
        z-index: 999;
    }
    /* Dropdown Content (Hidden by Default) */
    .dropdown-content {
        display: none;
        position: relative;
        background-color: #ffffff;
        min-width: 160px;
        z-index: 999;
        padding: 14px 0px;
    }
    /* Links inside the dropdown */
    .dropdown-content a {
        color: rgb(0, 0, 0);
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }
    /* Show the dropdown menu on hover */
    .dropdown:hover .dropdown-content {
        display: block;
    } 
    /* Change the background color of the dropdown button when the dropdown content is shown */
    .dropdown:hover .dropbtn {
        background-color: #ffffff;
        color: #000000;
    }
    nav ul {
        list-style-type: none;
        width: 400px;
        overflow: hidden;
        margin: 0 auto;
        padding: 0;
        box-sizing: border-box;
    }
    nav li {
        margin: 0 auto;
        background: transparent;
        font-family: 'Open Sans', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 0.9em;
        font-weight: 800;
        text-transform: uppercase;
        letter-spacing: 0.7px;
    }
    /* Makes list elements' background get light-grey on hover */
    nav li :hover {
        background: rgb(0, 0, 0);
        color: #ffffff;
        transition: 300ms all linear;
    }
    nav li :active {
        color: #ffffff;
        background: rgb(0, 0, 0);
    }
    nav li a {
        display: block;
        text-align: center;
        padding: 14px 10px;
        text-decoration: none;
        color: #ffffff;
    }

}